@model FuncionarioViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Funcionário";
    ViewData["SubTitle"] = "Consulta";
}

<div class="content-pages">

    <div class="container">

        <header class="page-title-bar mt-3">
            <div>
                <small>@ViewData["Title"]</small>
                <h3 class="page-title text-primary">@Model.Nome</h3>
            </div>
        </header>

        <div class="page-section">

            <div class="card-custom card-fluid shadow">

                <div class="card-body">
                    <div>
                        <div class="row">

                            <!--DADOS PESSOAIS DO FUNCIONÁRIO-->
                            <div class="col-12">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item shadow">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingDadosPessoais">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDadosPessoais" aria-expanded="true" aria-controls="panelsStayOpen-collapseDadosPessoais">
                                                <strong>Resultado do cálculo de férias</strong>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseDadosPessoais" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingDadosPessoais">
                                            <div class="accordion-body">
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <h4 class="fw-bold">Informações inseridas:</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Salario)</label>
                                                        @*<label class="d-block">@Html.DisplayFor(model => model.Salario)</label>*@
                                                        <label class="d-block">@Model.Salario.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Ferias.ValorHoraExtra)</label>
                                                        @*<label class="d-block">@Html.DisplayFor(model => model.ValorHoraExtra)</label>*@
                                                        <label class="d-block">@Model.ValorHoraExtra.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Dependentes)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Dependentes)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.DiasFerias)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.DiasFerias)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Ferias.AbonoPecuniario)</label>
                                                        <label class="d-block">
                                                            @if (Model.AbonoPecuniario == true)
                                                            {
                                                                <span class="badge badge-subtle btn-badge-active">@DefaultResource.MSG_SIM</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-subtle btn-badge-off">@DefaultResource.MSG_NAO</span>
                                                            }
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Ferias.DecimoTerceiro)</label>
                                                        <label class="d-block">
                                                            @if (Model.DecimoTerceiro == true)
                                                            {
                                                                <span class="badge badge-subtle btn-badge-active">@DefaultResource.MSG_SIM</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-subtle btn-badge-off">@DefaultResource.MSG_NAO</span>
                                                            }
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <hr class="text-primary" />
                                                        <h4 class="fw-bold">Descontos</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.INSS)</label>
                                                        @*<label class="d-block">@Html.DisplayFor(model => model.INSS)</label>*@
                                                        <label class="d-block">@Model.INSS.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.IRRF)</label>
                                                        @*<label class="d-block">@Html.DisplayFor(model => model.IRRF)</label>*@
                                                        <label class="d-block">@Model.IRRF.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Dependentes)</label>
                                                        @*<label class="d-block">@Html.DisplayFor(model => model.DescontoDependente)</label>*@
                                                        <label class="d-block">@Model.DescontoDependente.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.TotalDescontos)</label>
                                                        <label class="d-block">@Model.TotalDescontos.ToString("C")</label>
                                                    </div>
                                                </div>
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <hr class="text-primary" />
                                                        <h4 class="fw-bold">Recibo de Férias</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dark">Recebi de ________________________________________________________</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dark">a importância de @Model.TotalLiquidoFerias.ToString("C") referente ao pagamento das minhas férias do mês de..................... de........., a saber:</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dark">Férias: @Model.TotalBruto.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dark">Desconto INSS: @Model.INSS.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dark">Imposto de Renda: @Model.IRRF.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dark">Líquido de férias: @Model.TotalLiquidoFerias.ToString("C")</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <label class="d-block text-dar">Local e data: __________________, ___ de ________________ de_________</label>
                                                    </div>
                                                    <div class="col-sm-12 col-md-12 col-lg-12 d-flex mt-5">
                                                        <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                                                            <label class="d-block text-dark fw-bold">_____________________________</label>
                                                            <label class="d-block">Nome do empregado</label>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6 text-center">
                                                            <label class="d-block text-dark fw-bold">_____________________________</label>
                                                            <label class="d-block">Assinatura</label>
                                                        </div>
                                                    </div>
                                                    
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="mb-4 mt-4 text-primary">

                        <div class="d-flex col-12">

                            <div class="col-6 text-left">
                                <a class="btn btn-lg btn-dark" asp-action="Index">Voltar</a>
                                <a class="btn btn-lg btn-primary" asp-controller="Funcionarios" asp-action="CalculoFeriasDetailsPrint" asp-route-id="@Model.FuncionarioId" target="_blank">Imprimir</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
