@model FuncionarioViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Funcionário - Cálculo de Férias";
    ViewData["SubTitle"] = "Consulta";
}

<div class="content-pages">

    <div class="container">

        <header class="page-title-bar mt-3">
            <div>
                <small>@ViewData["Title"]</small>
                <h3 class="page-title text-primary">@Model.Nome</h3>
            </div>
        </header>


        <div class="page-section">


            <div class="card-custom card-fluid shadow">

                <div class="card-body">
                    <div>
                        <div class="row">

                            <!--DADOS PESSOAIS DO FUNCIONÁRIO-->
                            <div class="col-12">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item shadow">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingDadosPessoais">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDadosPessoais" aria-expanded="true" aria-controls="panelsStayOpen-collapseDadosPessoais">
                                                <strong>Dados do Funcionário</strong>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseDadosPessoais" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingDadosPessoais">
                                            <div class="accordion-body">
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <h4 class="fw-bold">Dados Pessoais</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Nome)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Nome)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Email)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Email)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Telefone)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Telefone)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.CPF)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.CPF)</label>
                                                    </div>

                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.RG)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.RG)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.DataNascimento)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.DataNascimento)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Genero)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.GeneroToString)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Educacao)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.EducacaoToString)</label>
                                                    </div>
                                                </div>
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <hr class="text-primary" />
                                                        <h4 class="fw-bold">Endereço</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Endereco)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Endereco)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.CEP)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.CEP)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Bairro)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Bairro)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Estado)</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.Estado)</label>
                                                    </div>
                                                </div>
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <hr class="text-primary" />
                                                        <h4 class="fw-bold">@FuncionarioResource.LABEL_CARGOS</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@FuncionarioResource.LABEL_CARGOS</label>
                                                        <label class="d-block">@Html.DisplayFor(model => model.CargoToString)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Salario)</label>
                                                        <label class="d-block"><small>R$&nbsp;</small>@Html.DisplayFor(model => model.Salario)</label>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-2">
                                                        <label class="d-block text-primary fw-bold">@Html.DisplayNameFor(model => model.Ativo)</label>
                                                        <label class="d-block">
                                                            @if (Model.Ativo == true)
                                                            {
                                                                <span class="badge badge-subtle btn-badge-active">@DefaultResource.MSG_SIM</span>
                                                            }
                                                            else
                                                            {
                                                                <span class="badge badge-subtle btn-badge-off">@DefaultResource.MSG_NAO</span>
                                                            }
                                                        </label>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--DADOS RELACIONADOS AO CÁLCULO DE FÉRIAS-->
                            <div class="col-12">&nbsp;</div>

                            <div class="col-12">
                                <div class="accordion" id="accordionPanelsStayOpenExample">
                                    <div class="accordion-item shadow">
                                        <h2 class="accordion-header" id="panelsStayOpen-headingDadosEmpresaFuncionario">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseDadosEmpresaFuncionario" aria-expanded="true" aria-controls="panelsStayOpen-collapseDadosEmpresaFuncionario">
                                                <strong>Inserir Dados do Funcionário para o Cálculo</strong>
                                            </button>
                                        </h2>
                                        <div id="panelsStayOpen-collapseDadosEmpresaFuncionario" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingDadosEmpresaFuncionario">
                                            <div class="accordion-body">
                                                <div class="row col-sm-12 col-md-12">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <h4 class="fw-bold">Cálculo de Férias</h4>
                                                        <hr class="text-primary" />
                                                    </div>
                                                </div>
                                                <form asp-controller="Funcionarios" asp-action="CalculoFeriasCreate" id="formCreate" class="col-12 col-sm-12 col-md-12">

                                                    <fieldset>
                                                        <div class="form-row col-12 col-sm-12 col-md-12 flex-custom container">

                                                            <div class="form-row col-12 col-sm-12 col-md-12 flex-custom gap-register">

                                                                <div class="form-row col-12 col-sm-12 col-md-12 flex-custom">
                                                                    <div class="form-group col-12 col-sm-12 col-md-3">
                                                                        <label class="text-primary fw-bold">Valor do Salário Bruto</label>
                                                                        <input asp-for="Salario" class="form-control" disabled>
                                                                        <span asp-validation-for="Nome" class="form-text text-danger small"></span>
                                                                    </div>

                                                                    <div class="form-group col-12 col-sm-12 col-md-3">
                                                                        <label asp-for="ferias.ValorHoraExtra" class="text-primary fw-bold">Valor Médio de Horas Extras</label>
                                                                        <input asp-for="ferias.ValorHoraExtra" class="form-control " placeholder="Digite a Quantidade de Horas Extras" required min="0">
                                                                        <span asp-validation-for="ferias.ValorHoraExtra" class="form-text text-danger small"></span>
                                                                    </div>

                                                                    <div class="form-group col-12 col-sm-12 col-md-3">
                                                                        <label asp-for="Dependentes" class="text-primary fw-bold"></label>
                                                                        <input asp-for="Dependentes" class="form-control " disabled>
                                                                        <span asp-validation-for="Dependentes" class="form-text text-danger small"></span>
                                                                    </div>

                                                                    <div class="form-group col-12 col-sm-12 col-md-3">
                                                                        <label asp-for="ferias.DiasFerias" class="text-primary fw-bold"></label>
                                                                        <input asp-for="ferias.DiasFerias" class="form-control " placeholder="Quantidade de dias que deseja" required min="0" max="30">
                                                                        <span asp-validation-for="ferias.DiasFerias" class="form-text text-danger small"></span>
                                                                    </div>
                                                                </div>
                                                                <div class="form-row col-12 col-sm-12 col-md-12 d-flex justify-content-center">
                                                                    <div class="form-group col-12 col-sm-12 col-md-2">
                                                                        <label asp-for="ferias.AbonoPecuniario" class="text-primary fw-bold">Abono Pecuniário:</label>
                                                                        <div class="mt-1 form-check form-switch">
                                                                            <label class="form-check-label">
                                                                                <input asp-for="ferias.AbonoPecuniario" type="checkbox" class="form-check-input switch-size">
                                                                            </label>
                                                                        </div>
                                                                        <span asp-validation-for="ferias.AbonoPecuniario" class="form-text text-danger small"></span>

                                                                    </div>

                                                                    <div class="form-group col-12 col-sm-12 col-md-2">
                                                                        <label asp-for="ferias.DecimoTerceiro" class="text-primary fw-bold">Adiantar 1ª parcela 13º:</label>
                                                                        <div class="mt-1 form-check form-switch">
                                                                            <label class="form-check-label">
                                                                                <input asp-for="ferias.DecimoTerceiro" type="checkbox" class="form-check-input switch-size">
                                                                            </label>
                                                                        </div>
                                                                        <span asp-validation-for="ferias.DecimoTerceiro" class="form-text text-danger small"></span>

                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </fieldset>
                                                    <div class="form-row col-12 col-sm-12 col-md-12 flex-custom justify-content-center gap-register-salary">
                                                        <button form="formCreate" class="btn btn-success btn-lg" type="submit">Cálcular</button>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr class="mb-4 mt-4 text-primary">

                        <div class="d-flex col-12">

                            <div class="col-6 text-left">
                                <a class="btn btn-lg btn-dark" asp-action="Index">Voltar</a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
