@model FuncionarioSearch

@{
    Layout = "_Layout";
    ViewData["Title"] = "Dashboard - RecrutaPlus";
}

<div class="content-pages text-yellowy">
    <div class="container">
        <div class="page-titles">
            <h2>
                Geral Information
            </h2>
        </div>
        <div class="status-employees">
            <div class="base-status-employees col-sm-12 col-md-2 margin-status">
                <div class="text-base-status">
                    <small class="text-white">Total de Funcionarios</small>
                    <h4 class="mb-0">@Html.DisplayFor(model => model.DashboardViewModel.TotalFuncionarios)</h4>
                </div>
            </div>
            <div class="base-status-employees col-sm-12 col-md-2 margin-status">
                <div class="text-base-status">
                    <small class="text-white">Funcionarios Ativos</small>
                    <h4 class="mb-0">@Html.DisplayFor(model => model.DashboardViewModel.FuncionariosAtivos)</h4>
                </div>
            </div>
            <div class="base-status-employees col-sm-12 col-md-2 margin-status">
                <div class="text-base-status">
                    <small class="text-white">Funcionarios Desativados</small>
                    <h4 class="mb-0">@Html.DisplayFor(model => model.DashboardViewModel.FuncionariosDesativados)</h4>
                </div>
            </div>
            <div class="base-status-employees col-sm-12 col-md-2 ">
                <div class="text-base-status">
                    <small class="text-white">Funcionarios Recentes</small>
                    <h4 class="mb-0">@Html.DisplayFor(model => model.DashboardViewModel.FuncionariosRecentes)</h4>
                </div>
            </div>
        </div>
        <hr class="hr-color" />

        <div class="card-custom">
            <div class="card-body card-body-custom d-flex card-background">
                <div class="col-sm-12 col-md-6 home-base-graficos">
                    <canvas id="myChart" class="size-canva"></canvas>
                </div>
                <div class="col-sm-12 col-md-6 home-base-graficos">
                    <div class="d-flex align-dashboard">
                        <h6 class="text-white">Funcionarios Recentes</h6>

                        <table class="table table-employee-dashboard table-borderless">
                            <thead class="border-tb-dashboard">
                                <tr class="text-yellowy">
                                    <th>
                                        @Html.DisplayNameFor(model => model.Itens.FirstOrDefault().Nome)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Itens.FirstOrDefault().Email)
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (FuncionarioViewModel item in Model.Itens.Take(3))
                                {
                                    <tr class="text-white">
                                        <td class="text-left align-middle">
                                            @Html.DisplayFor(modelItem => item.Nome)
                                        </td>
                                        <td class="text-left align-middle">
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: ['Ativos', 'Desativados', 'Recentes'],
            datasets: [{
                label: '158 funcionários',
                data: [127, 31, 5],
                backgroundColor: [
                    'rgba(167, 215, 41, 1)',
                    'rgba(255, 174, 174, 1)',
                    'rgba(201, 247, 245, 1)',
                ],
                borderColor: [
                    'rgba(167, 215, 4, 1)',
                    'rgba(255, 174, 174, 1)',
                    'rgba(201, 247, 245, 1)',
                ],
                borderWidth: 1
            }]
        },
    });
    const grafctx = document.getElementById('grafBar');
</script>